[Unit]
Description=5G Runtime Network Monitor
After=NetworkManager.service network-online.target
Wants=NetworkManager.service network-online.target

[Service]
User=root
Type=simple
ExecStart=/usr/local/bin/5g_runtime.sh
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
KillMode=process

[Install]
WantedBy=multi-user.target
